/* Bootstrap does not seem to have a good default for blockquote */
blockquote {
    margin-left: 2em;
    margin-right: 2em;
    text-align: justify;
    font-style: italic;
    font-family: serif;
}

ul.taglist {
    padding-left: 0;
}

ul.taglist li {
}
