include MANIFEST.in
include LICENSE
include README.md
include NEWS.md
include coverage.sh
include .coveragerc
include setup.cfg
recursive-include example *
recursive-include doc *
recursive-include tests *
recursive-include themes *
recursive-include devel *.py
recursive-include devel profile-view
exclude .egt
