{% macro inline_page(page) -%}
<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3><a href="{{url_for(page)}}">{{page.meta.title}}</a></h3>
    <div>
    {% for tag in page.meta.tags %}
    <a class="badge badge-pill badge-primary" href="{{ url_for(tag) }}" class="label label-default">{{tag.name}}</a>
    {% endfor %}
    <div class="text-right">
      <small><a href="{{url_for(page)}}">{{page.meta.date.strftime("%Y-%m-%d")}}</a></small>
    </div>
    </div>
  </div>
  <div class="card-body">
  {{page.content|safe}}
  </div>
</div>
{%- endmacro %}

{% macro pages(pages) -%}
  {% if not pages is defined %}
  {% set pages=page.meta.pages %} {# requires importing with context #}
  {% elif pages.meta %}
  {% set pages=pages.meta.pages %} {# pass a page to use its meta.pages #}
  {% endif %}

  {% for page in pages %}
  {{inline_page(page)}}
  {% endfor %}
{%- endmacro %}

{% macro archive(pages) -%}
  {% if not pages is defined %}
  {% set pages=page.meta.pages %} {# requires importing with context #}
  {% elif pages.meta %}
  {% set pages=pages.meta.pages %} {# pass a page to use its meta.pages #}
  {% endif %}

<ul class="list-group">
  {% for page in pages %}
  <li class="list-group-item"><a href="{{url_for(page)}}">{{page.meta.date.strftime("%Y-%m-%d")}} - {{page.meta.title}}</a></li>
  {% endfor %}
</ul>
{%- endmacro %}
