{% extends "base.html" %}

{% block head %}
{{super()}}
{% if url_for_tag and series %}
<link href="{{ url_for_tag_rss(series) }}" rel="alternate" type="application/rss+xml" title="{{SITE_NAME}}: {{series}} RSS2 feed"></link>
<link href="{{ url_for_tag_atom(series) }}" rel="alternate" type="application/atom+xml" title="{{SITE_NAME}}: {{series}} ATOM feed"></link>
{% endif %}
{% endblock %}

{# Render navigation for page series #}
{% block nav %}
{{super()}}
{% if series %}
  <li>
    <a href="{{url_for(series_first)}}"><span class="glyphicon glyphicon-fast-backward"></a>
  </li>

  {% if series_prev %}
  <li>
    <a href="{{url_for(series_prev)}}"><span class="glyphicon glyphicon-chevron-left"></a>
  {% else %}
  <li class="disabled">
    <a href="#"><span class="glyphicon glyphicon-chevron-left"></a>
  {% endif %}
  </li>

  {% if url_for_tag %}
  <li><a href="{{url_for_tag_archive(page.meta.series)|default("#")}}">{{series_title}} {{series_index}}/{{series_length}}</a></li>
  {% endif %}

  {% if series_next %}
  <li>
    <a href="{{url_for(series_next)}}"><span class="glyphicon glyphicon-chevron-right"></a>
  {% else %}
  <li class="disabled">
    <a href="#"><span class="glyphicon glyphicon-chevron-right"></a>
  {% endif %}
  </li>

  {% if series_last %}
  <li>
    <a href="{{url_for(series_last)}}"><span class="glyphicon glyphicon-fast-forward"></a>
  </li>
  {% endif %}
{% endif %}
{% endblock %}

{% block nav_extra %}
{% if url_for_tag and series %}
<p class="navbar-text navbar-right">
  <a href="{{ url_for_tag_rss(page.meta.series) }}">
    <img src="{{ url_for('/images/feed-icon-16x16.png') }}">
  </a>
</p>
{% endif %}
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{{page.meta.title}}</h1>
  </div>

  {{content|safe}}

  {% if url_for_tag %}
  <p>
  {% for tag in tags %}
  <a href="{{ url_for_tag(tag) }}" class="label label-default">{{tag}}</a>
  {% endfor %}
  </p>
  {% endif %}

  <p><small>{{page.meta.date}}</small></p>
{% endblock %}
