{% extends "base.html" %}

{% block head %}
{{super()}}
<link href="{{ url_for_tag_rss(tag) }}" rel="alternate" type="application/rss+xml" title="{{SITE_NAME}}: {{tag.name}} RSS2 feed"></link>
<link href="{{ url_for_tag_atom(tag) }}" rel="alternate" type="application/atom+xml" title="{{SITE_NAME}}: {{tag.name}} ATOM feed"></link>
{% endblock %}

{% block nav %}
{{super()}}
<li><a href="{{ url_for_tag_archive(tag) }}">Archive</a></li>
{% endblock %}

{% block nav_extra %}
<p class="navbar-text navbar-right">
  <a href="{{ url_for_tag_rss(tag) }}">
    <img src="{{ url_for('/images/feed-icon-16x16.png') }}">
  </a>
</p>
{% endblock %}

{% block content %}
<h1>Archive for tag {{tag.name}}</h1>

<ul>
{% for p in pages %}
<li><a href="{{url_for(p)}}">{{p.meta.date.strftime("%Y-%m-%d")}} - {{p.meta.title}}</a></li>
{% endfor %}
</ul>

{% endblock %}

