{% extends "base.html" %}

{% block front_matter %}
---
files:
  "*.html":
    syndicated: no
syndication:
  pages:
    path: blog/*
  add_to:
    path: blog/*
  title: "Example blog feed"
{% endblock %}

{% import 'lib/blog.html' as blog with context %}

{% block nav %}
{{super()}}
<li class="nav-item"><a class="nav-link" href="{{ url_for('/blog/archive.html') }}">Archive</a></li>
{% endblock %}

{% block content %}

<h1 class="display-4">Last 10 blog posts</h1>

<p>This the example front page for the blog.</p>

{{blog.pages(limit=10)}}

{% endblock %}
