{% extends "base.html" %}
{% block content %}
<h1>{{page.meta.title}}</h1>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Date</th>
      <th>Page</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
  {% if page.parent %}
  {% with parent = page.parent %}
  <tr>
    <td><a href="{{url_for(parent)}}">{{parent.meta.date.strftime("%Y-%m-%d")}}</a></td>
    <td><a href="{{url_for(parent)}}">.. {% if parent.meta.site_path|basename %}({{parent.meta.site_path|basename}}){% endif %}</a></td>
    <td><a href="{{url_for(parent)}}">{{parent.meta.title}}</a></td>
  </tr>
  {% endwith %}
  {% endif %}
  {% for p in page.subdirs|arrange("title") %}
  <tr>
    <td><a href="{{url_for(p)}}">{{p.meta.date.strftime("%Y-%m-%d")}}</a></td>
    <td><a href="{{url_for(p)}}">{{p.meta.site_path|basename}}/</a></td>
    <td><a href="{{url_for(p)}}">{{p.meta.title}}</a></td>
  </tr>
  {% endfor %}
  {% for p in page.meta.pages|arrange("title") %}
  <tr>
    <td><a href="{{url_for(p)}}">{{p.meta.date.strftime("%Y-%m-%d")}}</a></td>
    <td><a href="{{url_for(p)}}">{{p.meta.site_path|basename}}</a></td>
    <td><a href="{{url_for(p)}}">{{p.meta.title}}</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}

